body {
	width: 1440px;
	height: 1737px;
	background-color: #F6F8F9;

}

.header {
	
	width: 1440px;
	padding: 18px;
	height: 50px;
	position: fixed;
    top: 0;
	left: 0;
	z-index: 1;
    background-color:#F6F8F9 ;
	

}

.logo {
	font-size: 13px;
	color: #FA6980;
	width: 38px;
	height: 15px;
	z-index: 1;

}

.navigator {
	display: inline-block;
	margin-left: 92px;
	z-index: 1;
}

.nav-li {
	font-size: 11px;
	display: inline-block;
	margin-right: 27px;
	z-index: 1;

}


.left-block {
	display: inline-block;
    margin-top: 40px;
    margin-left: 140px;
	width: 360px;
	height: 360px;
	background-color: #FFFFFF;
	z-index: 0;

}

.middle-block {
	display: inline-block;
	margin-left: 40px;
	width: 360px;
	height: 360px;
	background-color: #FFFFFF;
	z-index: 0;
}

.right-block {
	display: inline-block;
	margin-left: 40px;
	width: 360px;
	height: 360px;
	background-color: #FFFFFF;
	z-index: 0;
}

.picture {
	vertical-align: middle;
}

.text-block {
	vertical-allign: top;
	padding: 76px 40px 40px 66px;
	font-size: 13px;
	
}

.time {
	color:#A6ADB4 ;
	font-size: 13px;

}

.section-header1 {
	margin-top: 75px;
	margin-left: 140px;
	font-size: 24px;
	color: #202124
	z-index: 0;
}

.section-header2 {
	margin-top: 58px;
	margin-left: 140px;
	font-size: 24px;
	color: #202124
	z-index: 0;
}

.photo1 {
	margin-top: 40px;
	margin-left: 140px;
	z-index: 0;
}

.left-picture-block {
	display: inline-block;
	vertical-align: top;
	z-index: 0;
}

.right-picture-block {
	display: inline-block;
	vertical-align: top;
	margin-left: 40px;
	z-index: 0;
}

.photo2 {
	margin-top: 40px;
	z-index: 0;
}

.photo3 {
	margin-top: 102px;
	z-index: 0;
}

.webfooter {
	margin-top: 37px;
	height: 227px;
	background-color: #A6ADB4;
	position: relative;
	z-index: 0;
}

.logo-bottom {
	position: absolute;
	top: 58px;
	left: 142px;
	font-size: 13px;
	color: #FFFFFF;
	z-index: 0;
}

.list1 {

	position: absolute;
	top: 58px;
	left: 268px ;
	font-size: 13px;
	color: #CBD0D3;
	z-index: 0;
	
}

.list2 {

	position: absolute;
	top: 58px;
	left: 400px ;
	font-size: 13px;
	color: #CBD0D3;
	z-index: 0;
	
}

.list3 {

	position: absolute;
	top: 58px;
	left: 549px ;
	font-size: 13px;
	color: #CBD0D3;
	z-index: 0;

}

.list1-li {
	margin-top: 8px;
}

.slogan {
	position: absolute;
	top: 62px;
	left: 733px ;
	font-size: 11px;
	color: #CBD0D3;
}

.socmedialist-li {
    display: inline-block;
	margin-left: 32px;
}

.socmedialist {
    position: absolute;
    top: 58px;
    right: 138px;
	display: inline-block;
	z-index: 0;
}


.photo-slogan {
	position: relative;
}
.photo-slogan1 {
	position: absolute;
	top: 28px;
	left: 40px;
	color: #FFFFFF;
	font-size: 16px;
	z-index: 0;
}








	





















